.contact {
	padding: 2em 0;
	&__itemBox {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__form {
	}
	input[type="text"],
	textarea {
		margin: 1em 0;
		padding: 1em;
		width: 90%;
		border-radius: 8px;
		border: 2px solid $cosmos;
		color: $cosmos;
	}
	textarea {
		min-height: 300px;
		resize: none;
	}
	label {
		position: absolute;
		top: 33%;
		left: 10%;
		padding: 0 0.5em;
		background-color: $pure-white;
		font-size: 1.8rem;
		transition: transform 0.3s;
		color: $cosmos;
	}
	textarea ~ label {
		top: 8%;
		left: 10%;
	}
	input:focus,
	textarea:focus {
		outline: none;
	}
	input:focus ~ label {
		transform: translate(20%, -105%);
		color: $cosmos;
	}
	textarea:focus ~ label {
		transform: translate(20%, -105%);
		color: $cosmos;
	}
	& input[type="submit"],
	input[type="reset"] {
		margin: 0.5em;
		padding: 1em 1em;
		text-transform: uppercase;
		border-radius: 8px;
		border: none;
		background-color: $cosmos;
		font-size: 1.2rem;
		font-weight: 400;
		font-family: Roboto;
		text-decoration: none;
		color: $pure-white;
		// letter-spacing: 2px;
		outline: none;
	}
}
