.contact {
	display: flex;
	flex-direction: column;
	padding: 2em 0 6em 0;

	&__title {
		margin-bottom: 2em;
		padding: 2em;
		font-size: 2.8rem;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 2px;
		color: $cosmos;
	}
	&__box {
		display: flex;
		flex-direction: column;
		max-width: 1200px;
	}
	&__itemBox {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: flex-start;
	}

	input[type="text"],
	input[type="email"],
	textarea {
		margin: 1em 0;
		padding: 1em;
		width: 90%;
		border-radius: 8px;
		border: 2px solid $cosmos;
		color: $cosmos;
	}
	textarea {
		min-height: 300px;
		resize: none;
	}
	label {
		position: absolute;
		top: 33%;
		left: 6%;
		padding: 0 0.5em;
		background-color: $pure-white;
		font-size: 1.8rem;
		transition: transform 0.3s;
		color: $cosmos;
	}
	textarea ~ label {
		top: 8%;
		left: 6%;
	}
	input:focus,
	textarea:focus {
		outline: none;
	}
	input:focus ~ label,
	textarea:focus ~ label {
		transform: translate(20%, -105%);
		color: $cosmos;
	}

	input[type="submit"],
	input[type="reset"] {
		margin: 0.5em;
		padding: 1em;
		text-transform: uppercase;
		border-radius: 8px;
		border: none;
		background-color: $cosmos;
		font-size: 1.2rem;
		font-weight: 400;
		font-family: Roboto;
		text-decoration: none;
		color: $pure-white;
		letter-spacing: 2px;
		outline: none;
	}
	&__items {
		margin-top: 2em;
		padding: 1em;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__item {
		margin: 0.5em;
		color: $cosmos;
		font-size: 2.2rem;
		text-align: left;
		letter-spacing: 2px;
		a {
			text-decoration: none;
			color: $cosmos;
			cursor: default;
		}
	}
	.smallDipperBox--dark {
		margin-top: 4em;
		align-self: center;
	}
	.smallDipperStar--dark {
		background-color: $cosmos;
		box-shadow: none;
		height: 7px;
		width: 7px;
	}
	.smallDipperStar--dark:nth-child(7) {
		height: 9px;
		width: 9px;
	}
}

// @media (min-width: 768px) {
// 	.contact {
// 		&__items {
// 			align-items: center;
// 		}
// 	}
// }

@media (min-width: 992px) {
	.contact {
		&__box {
			width: 100%;
			flex-direction: row;
			justify-content: space-between;
			align-self: center;
		}
		&__form {
			flex-basis: 45%;
		}
		input[type="submit"],
		input[type="reset"] {
			font-size: 1.4rem;
			transition: 0.3s;
			cursor: pointer;
		}

		input[type="submit"]:hover,
		input[type="reset"]:hover {
			background-color: $opacity-cosmos-hover;
		}

		&__items {
			margin-top: unset;
			flex-basis: 45%;
			justify-content: center;
		}
		&__item {
			a {
				transition: 0.3s;
				cursor: pointer;
			}
			a:hover {
				color: $date;
			}
		}
	}
}
