.experience {
	margin-top: 4em;
	padding-bottom: 2em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $cosmos;
	&__title {
		color: $pure-white;
		padding: 2em;
		font-size: 2.8rem;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
	&__timeline {
		margin: 4em 0;
		position: relative;
		width: 100%;
		max-width: 800px;
	}
	&__timeline::before {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		display: block;
		width: 2px;
		height: 100%;
		background-color: $pure-white;
		content: "";
	}
	&__list {
		display: flex;
		flex-direction: column;
		margin: 0 2em;
		list-style: none;
	}
	&__item {
		display: flex;
		flex-direction: column;
		position: relative;
		margin-bottom: 3em;
		padding: 1.8em;
		width: 100%;
		border: 1px solid $pure-white;
		border-radius: 8px;
		background-color: $cosmos;
		color: $pure-white;
	}
	&__item:nth-child(1) {
		margin-top: 4em;
	}
	&__item::after {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, -170%);
		width: 20px;
		height: 20px;
		background-color: $pure-white;
		border-radius: 50%;
		content: "";
		box-shadow: 0 0 5px 0 #4fb4ff;
	}
	&__item:nth-child(even) {
		align-self: flex-end;
	}

	&__item-title {
		align-self: center;
		text-transform: uppercase;
	}

	&__item-desc {
		margin: 1em 0;
		font-weight: 200;
	}

	&__item-date {
		font-size: 1.4rem;
		align-self: flex-end;
		color: $date;
	}
}
@media (min-width: 768px) {
	.experience {
		margin-top: 4em;
		padding-bottom: 2em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: $cosmos;
		&__title {
			color: $pure-white;
			padding: 2em;
			font-size: 2.8rem;
			text-transform: uppercase;
		}
		&__timeline {
			position: relative;
			width: 100%;
			max-width: 800px;
			margin: 4em 0;
			// background-color: $pure-white;
		}
		&__timeline::before {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			display: block;
			width: 2px;
			height: 100%;
			background-color: $pure-white;
			content: "";
		}
		&__list {
			display: flex;
			flex-direction: column;
			margin: 0 2em;
			list-style: none;
		}
		&__item {
			display: flex;
			flex-direction: column;
			position: relative;
			margin-bottom: 2em;
			padding: 1.8em;
			width: 50%;
			border: 1px solid $pure-white;
			border-radius: 8px;
			color: $pure-white;
		}
		&__item::after {
			top: calc(50% - 10px);
			left: unset;
			width: 20px;
			transform: unset;
			height: 20px;
			background-color: $pure-white;
			border-radius: 50%;
			content: "";
			box-shadow: 0 0 5px 0 $star-shadow;
		}
		&__item:nth-child(even) {
			align-self: flex-end;
			transform: translateX(20px);
		}
		&__item:nth-child(even) .experience__item-title {
			align-self: flex-end;
		}

		&__item:nth-child(even)::after {
			left: -31px;
		}
		&__item:nth-child(odd) {
			transform: translateX(-20px);
		}

		&__item:nth-child(odd)::after {
			right: -31px;
		}
		&__item-title {
			align-self: flex-start;
		}

		&__item-desc {
			margin: 1em 0;
		}

		&__item-date {
			font-size: 1.4rem;
			align-self: flex-end;
		}
	}
}
