.header {
	min-height: 100vh;
	background-color: $cosmos;
	&__stars {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 60vh;
	}
	&__star {
		position: absolute;
		height: 2px;
		width: 2px;
		border-radius: 50%;
		border-bottom: 100px solid white;
		background-color: #fff;
		transform-origin: top right;
		animation: shootingStar 0.5s;
		opacity: 0;
	}
	&__star:nth-of-type(1) {
		top: 10vh;
		left: 50vw;
		animation-delay: 3s;
	}
	&__star:nth-of-type(2) {
		top: 20vh;
		left: 15vw;
		animation-delay: 12s;
	}
	&__star:nth-of-type(3) {
		top: 20vh;
		left: 81vw;
		animation-delay: 8s;
	}
	&__star:nth-of-type(4) {
		top: 35vh;
		left: 62vw;
		animation-delay: 15s;
	}
}
#particles-js {
	height: 100vh;
	width: 100%;
}

@keyframes shootingStar {
	0% {
		transform: rotate(30deg) scaleY(0);
		opacity: 0;
	}
	30% {
		transform: rotate(30deg) scaleY(1);
		opacity: 1;
	}
	100% {
		transform: rotate(30deg) scaleY(1) translateY(500%);
		opacity: 0;
	}
}

.bigDipperBox {
	position: absolute;
	top: 20vh;
	right: 10vw;
	/* border: 1px solid white; */
	height: 200px;
	width: 400px;
}
.bigDipperStar {
	position: absolute;
	height: 7px;
	width: 7px;
	border-radius: 50%;
	background-color: white;
	/* box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 1); */
	box-shadow: 0px 0px 7px 0px rgba(79, 180, 255, 1);
}
.bigDipperStar:nth-of-type(1) {
	top: 80px;
	left: 10px;
}
.bigDipperStar:nth-of-type(2) {
	top: 40px;
	left: 80px;
}
.bigDipperStar:nth-of-type(3) {
	top: 60px;
	left: 150px;
}
.bigDipperStar:nth-of-type(4) {
	top: 70px;
	left: 220px;
	height: 6px;
	width: 6px;
	box-shadow: 0px 0px 8px 0px rgba(79, 180, 255, 1);
}
.bigDipperStar:nth-of-type(5) {
	top: 140px;
	left: 260px;
	height: 6px;
	width: 6px;
	box-shadow: 0px 0px 8px 0px rgba(79, 180, 255, 1);
}
.bigDipperStar:nth-of-type(6) {
	top: 120px;
	left: 380px;
}
.bigDipperStar:nth-of-type(7) {
	top: 30px;
	left: 370px;
}
