.nav {
	position: fixed;
	width: 100%;
	background-color: $opacity-cosmos;
	z-index: 99;

	&__box {
		margin: 0 auto;
		padding: 0.5em 0;
		max-width: 1400px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	&__logo {
		margin-left: 2em;
		color: $pure-white;
		font-size: 3rem;
	}

	&__list {
		display: flex;
		padding: 1em;
		list-style: none;
	}
	&__item {
		margin: 0 1em;
		color: $pure-white;
		letter-spacing: 0.1em;
	}
	&__item a {
		color: $pure-white;
		text-decoration: none;
		cursor: pointer;
	}
}
