.nav {
	position: fixed;
	width: 100%;
	z-index: 99;

	&__box {
		margin: 0 auto;
		padding: 0.5em 0;
		max-width: 1400px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	&__logo {
		margin-left: 1em;
		color: $pure-white;
		font-size: 3rem;
	}

	&__list {
		width: 100vw;
		height: 100vh;
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 1em;
		transform: translate(-100%);
		background-color: $cosmos;
		list-style: none;
		transition: all 0.8s;
		opacity: 0;
		z-index: 97;
	}
	&__menuBurger {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		height: 25px;
		width: 25px;
		margin: 1em;
		transition: all 0.4s;
		z-index: 98;

		span {
			display: block;
			height: 2px;
			width: 100%;
			background-color: #fff;
			transform: translate(0);
			transition: all 0.4s;
		}
	}
	&__item {
		margin: 3em 0;
		color: $pure-white;
		letter-spacing: 0.5em;
	}
	&__link {
		// padding-bottom: 0.5em;
		color: $pure-white;
		text-decoration: none;
		text-transform: uppercase;
		// border-bottom: 1px solid $pure-white;
		cursor: default;
	}
}
// @keyframes animateMenu {
// 	0% {
// 		transform: translateX(-100%);
// 		opacity: 0.5;
// 	}
// 	100% {
// 		transform: translateX(0);
// 		opacity: 1;
// 	}
// }
.active {
	span:nth-child(2) {
		display: none;
	}
	span:nth-child(1) {
		transform: rotate(-45deg) translateX(-10px);
	}
	span:nth-child(3) {
		transform: rotate(45deg) translateX(-10px);
	}
}
.showMenu {
	transform: translate(0);
	opacity: 1;
	// animation: animateMenu 1s ease-in-out;
}

@media (min-width: 992px) {
	.nav {
		&__logo {
			margin-left: 2em;
		}
		&__box {
			padding-top: 1em;
		}

		&__list {
			position: unset;
			list-style: none;
			width: unset;
			height: unset;
			top: unset;
			left: unset;
			display: flex;
			flex-direction: row;
			background-color: unset;
			transform: unset;
			opacity: unset;
		}
		&__menuBurger {
			display: none;
		}
		&__item {
			margin: 0 1em;
			letter-spacing: 0.1em;
			// transition: 0.3s;
		}
		&__link {
			position: relative;
			padding-bottom: 0.5em;
			cursor: pointer;
		}
		&__link::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			height: 2px;
			width: 100%;
			background-color: $pure-white;
			transition: transform 0.3s;
			transform: scaleX(0);
			transform-origin: right;
			box-shadow: 0 0 5px 0 $star-shadow;
		}
		&__link:hover::after {
			transform: scaleX(1);
			transform-origin: left;
		}
	}
}
