.projects {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $cosmos;
	&__title {
		margin-bottom: 2em;
		padding: 2em;
		font-size: 2.8rem;
		text-transform: uppercase;
		letter-spacing: 2px;
		color: $pure-white;
	}
	&__box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		max-width: 1200px;
	}
	&__item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 1em;
		padding: 0.5em;
		background-color: $pure-white;
		border-radius: 4px;
		z-index: 0;
	}
	&__img {
		margin-top: 1em;
		position: relative;
		height: 250px;
		width: 250px;
		border: 3px solid $cosmos;
		border-radius: 50%;
		background-size: cover;
		background-position: center;
	}
	&__item:nth-child(1) .projects__img {
		background-image: url("/dist/img/lorempizza.png");
	}
	&__item:nth-child(2) .projects__img {
		background-image: url("/dist/img/fg.png");
		/* Dodatkowa stylizacja dla drugiego elementu .projects__img */
	}
	// &__img:nth-of-type(2) {
	// 	background-image: url("/dist/img/fightgame.png");
	// }
	&__img::after {
		display: block;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		background-color: #221d415f;
		z-index: 0;
	}

	&__img::before {
		display: block;
		content: "";
		position: absolute;
		top: -10px;
		right: -30px;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		background-color: $cosmos;
		z-index: -1;
	}

	&__name {
		margin: 0.5em 0;
		letter-spacing: 2px;
		color: $cosmos;
	}
	&__desc {
		font-weight: 200;
	}
}
