@import "./colors";
@import "./components";
@import "./mixins";
@import "./header";
@import "./nav";
@import "./mainsection";
@import "./aboutme";
@import "./experience";
@import "./motivation";
@import "./projects";
@import "./contact";

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	font-family: "Roboto", sans-serif;
	font-size: 1.6rem;
}
