@import "./colors";
@import "./components";
@import "./mixins";
@import "./header";
@import "./nav";
@import "./mainsection";
@import "./aboutme";
@import "./experience";
@import "./motivation";
@import "./projects";
@import "./contact";
@import "./footer";

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	font-family: "Roboto", sans-serif;
	font-size: 1.6rem;
}

section {
	scroll-margin-top: 50px;
}

.notfound {
	padding: 2em 0 3em 0;
	min-height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	h1 {
		font-size: 4rem;
		color: #221d41;
	}

	h2 {
		color: #221d41;
	}
	a {
		text-decoration: none;
		color: #221d41;
	}
}
